@media(max-width: 667px) {
    * {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .big-main-tablet,
    .big-main-desktop,
    .orange-fb-icon,
    .patern-for-tablet {
        display: none;
    }

    .big-main-mobile {
        position: absolute;
        left: 20%;
    }

    .container {
        /* background: rgb(40, 231, 234); */
        width: 90%;
        padding: 10%;
    }

    .part1 {
        position: relative;
        flex-direction: column;

    }

    .equalizer {
        font-size: 52px;
    }

    .text1 {
        font-size: 28px;
    }

    .part2 {
        flex-direction: column;
        background-color: black;
        border-radius: 20px;
        margin-top: 20%;
    }

    .mobile-back {
        position: relative;
        width: 70%;
        margin-left: 20%;
    }

    .mobile {
        position: absolute;
        width: 50%;
        margin-left: -60%;
        margin-top: -15%;
    }

    .premium-container {
        flex-direction: column;
        background-color: #FA7453;
        border-radius: 20px;
        padding-bottom: 10%;
    }

    .premium-text {
        flex-direction: column;
        color: white;
        display: flex;
        margin: 20px 0 0 30px;
    }

    .premium-text p {
        width: 90%;
        font-size: 24px;
    }

    .premium-text h1 {
        margin: 30px 0;
    }

    .apple {
        background-color: black;
        color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 80%;
        height: 0.5%;
        cursor: pointer;
    }

    .android {
        background-color: white;
        color: black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin: 30px 0;
        width: 80%;
        height: 0.5%;
        cursor: pointer;

    }

    .android-icon,
    .apple-icon {
        width: 30px;
        height: 30px;
        padding-left: 30%;
    }

    .android>p,
    .apple>p {
        font-size: 1em;
        padding: 0 10px;
    }

    .four-dollar {
        font-size: 48px;
        font-weight: bold;
    }

    .premium-text p {
        margin: 20px 0;
    }

    .equalizer2 {
        font-size: 5em;
        padding: 0.5em 0;
    }

    .part3>p {
        font-size: 2.5em;
    }

    .mail-b {
        font-size: 0.7em;
    }

    .part4 {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }

    .icon-facebook,
    .icon-instagram,
    .icon-twitter {
        width: 27%;
        padding: 3%;
        cursor: pointer;
    }
}

@media(max-width:1023px) {
    * {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .container {
        flex-direction: column;
        /* background-color: aquamarine; */
        /* padding:20%; */
    }

    .part1 {
        padding: 5%;
        /* width: 90%; */
        flex-direction: column;
    }

    .big-main-tablet {
        position: absolute;
        width: 100%;
        margin: -20% 0 0 -30%;
    }

    .patern-for-tablet {
        position: absolute;
        width: 400px;
        height: 550px;
        margin-left: 64.2%;
        margin-top: -11%;
        clip-path: polygon(0 10%, 79% 10%, 79% 100%, 0 100%); 
    }


    .big-main-desktop,
    .big-main-mobile,
    .orange-fb-icon {
        display: none;
    }

    .equalizer {
        font-size:2.5em;
        padding: 5% 0 10% 0;
    }

    .text1 {
        font-size: 2.7em;
        width: 70%;
    }

    .part2 {
        flex-direction: column;
        background-color: black;
        border-radius: 20px;
        width: 90%;
        margin: 20% 5%;
    }

    .mobile-back {
        width: 40%;
        margin-left: 40%;
        margin-top: -5%;
        padding-bottom: 10%;
    }

    .mobile {
        position: absolute;
        width: 35%;
        margin-left: -60%;
        margin-top: -15%;
 
    }

    .premium-container {
        position: absolute;
        flex-direction: column;
        background-color: #FA7453;
        border-radius: 20px;
        padding-bottom: 4%;
        width: 45%;
        margin-top: -40%;
        margin-left: 35%;
    }

    .premium-text {
        flex-direction: column;
        color: white;
        display: flex;
        margin: 20px 0 0 30px;
        width: 80%;
        font-size: 20px;
    }

    .premium-text h1 {
        margin: 20px 0;
    }

    .apple {
        background-color: black;
        color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        height: 0.5%;
        cursor: pointer;
    }

    .android {
        background-color: white;
        color: black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin: 30px 0;
        height: 0.5%;
        cursor: pointer;

    }
    
    .apple-icon {
        width: 30px;
        height: 30px;
        padding-left: 28%;
    }
    .android-icon{
        width: 30px;
        height: 30px;
        padding-left: 24%;

    }

    .android>p,
    .apple>p {
        font-size: 1em;
        padding: 0 10px;
    }

    .four-dollar {
        font-size: 48px;
        font-weight: bold;
    }

    .premium-text p {
        margin: 20px 0;
    }

    .equalizer2 {
        font-size: 5em;
        padding-top: 0.5em;
        padding-left: 5%;
    }

    .part3>p {
        font-size: 2em;
        width: 50%;
        padding-left: 5%;
    }

    .mail-b {
        font-size: 0.7em;
    }

    .part4 {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin: -20% 0 0 60%;
    }

    .icon-facebook,
    .icon-instagram,
    .icon-twitter {
        width: 27%;
        padding: 3%;
        cursor: pointer;
    }





}