/* @media(max-width:767px){ */
    *{

        flex-direction: column;
        /* margin:0; */
        }   
        body {
            margin: 0;
            flex-direction: column;
            background-color: blanchedalmond;
            display: grid;
            place-items: center;
        }
        .big-main-tablet, .big-main-desktop, .orange-fb-icon{
            display: none;
        }
        .container {
            flex-direction: column;
            background-color: white;
        }
        
        .equalizer {
            font-size: 52px;
            /* margin-bottom: 30px; */
        }
        .text1 {
            font-size: 28px;
            /* padding-bottom: 140px; */
        }
        .part1 {
            margin: 24px;
            position: relative;
            flex-direction: column;
        
        display: grid;
        place-items: center;
        }
        
        .big-main-mobile {
            position: absolute;
        }
        
        .patern-for-tablet {
            display: none;
        }
        
        .part2 {
            margin: 24px;
            position: relative;
            flex-direction: column;
            /* border-radius: 20px; */
        }
        
        .part2-1 {
            position: relative;
        }
        
        .mobile-back-background {
            position: absolute;
            width: 100%;
            height: 600px;
            top: 100px;
            border-radius: 20px;
            background-color: black;
        }
        
        .mobile {
            position: absolute;
            width: 209px;
            height: 430px;
            left: 81px;
        
        }
        
        .mobile-back {
            position: absolute;
            width: 280px;
            height: 420px;
            top: 100px;
            left: 48px;
            border-radius: 100px 100px 0px 100px;
        }
        
        .premium-container {
            position: absolute;
            width: 375px;
            height: 546px;
            top: 480px;
            background-color: #FA7453;
            border-radius: 20px;
        }
        
        .premium-text {
            flex-direction: column;
            color: white;
            display: flex;
            margin: 20px 0 0 30px;
        }
        
        .premium-text p {
            width: 302px;
            height: 140px;
            left: 36px;
        }
        
        .premium h1 {
            margin-bottom: 20px;
        }
        
        .apple {
            /* display: grid;
            place-items: center; */
            display: flex;
            /* justify-content: center; */
            /* text-align: center; */
            width: 296px;
            height: 61px;
            background-color: black;
            /* margin-top: 10px; */
            border-radius: 20px;
            cursor: pointer;
        }
        
        .android {
            color: black;
            width: 296px;
            height: 61px;
            display: flex;
            justify-content: center;
            text-align: center;
            /* display: grid;
            place-items: center; */
            background-color: white;
            /* margin-top: 10px; */
            border-radius: 20px;
            cursor: pointer;
        }
        
        .android-icon,
        .apple-icon {
            display: flex;
            justify-content: center;
            /* display: grid;
            place-items: center; */
            width: 30px;
            height: 30px;
        }
        
        .android-icon p {
            /* padding: 0 10px; */
        }
        
        .apple-icon p {
            /* padding: 0 10px; */
        }
        
        span {
            font-size: 48px;
            font-weight: bold;
        }
        
        .premium-text p {
            /* margin: 10px 0 -20px 0; */
        }
        
        .part3 {
            
            /* margin: 24px; */
            /* padding: 0 20px; */
            font-size: 20px;
            /* width: 327px; */
            /* height: 169px; */
            /* top: 1612px; */
        }
        
        .part4 {
            position: absolute;
            margin: 24px;
            display: flex;
            /* padding-top: 30px; */
            /* width: 100px; */
            /* height: 20px; */
            margin-left: 24px;
            justify-content: space-between;
        }
        
        .icon-facebook,
        .icon-instagram,
        .icon-twitter {
            cursor: pointer;
        }
        
        /* .orange-fb-icon {
            display: none;
        } */
        /* } */
        @media (min-width: 768px) {
            /* .container {
                background-color: white;
                width: 768px;
            } */
        
            .patern2-tablet {
                display: inline;
                /* position: absolute;
                width: 267px;
                height: 400px;
                margin-left: 537px;
                clip-path: polygon(0 0, 79% 0, 79% 100%, 0 100%); */
            }
        
            /* .text1 {
                width: 520px;
                font-size: 32px;
                height: 332px;
                margin-left: 39px;
            } */
        
            /* .text1 p {
                font-size: 18px;
            } */
        
            /* .lights {
                width: 800px;
                height: 800px;
                top: 250px;
                margin-left: 345px;
                opacity: 100%;
                /* opacity: 15% isn't visible; 
            } */
        
            /* .mobile-back-background {
                width: 696px;
                height: 600px;
                /* top: 100px; 
                margin-left: 33px;
            } */
        /* 
            .mobile {
                width: 270px;
                height: 556px;
                margin-left: 60px;
            } */
        /* 
            .mobile-back {
                width: 280px;
                height: 420px;
                margin-left: 262px;
            } */
        /* 
            .premium-container {
                width: 399px;
                margin-left: 272px;
                margin-top: -150px;
                padding-top: 20px;
            } */
        /* 
            .premium-text p {
                font-size: 18px;
                margin-bottom: -20px;
            } */
        
            /* .android-icon,
            .apple-icon {
                width: 200px;
                height: 32px;
            } */
        
            /* .premium-btn {
                margin-top: -40px;
            } */
        
            /* .part3 {
                margin-top: -60px;
                font-size: 18px;
                width: 336px;
                /* height: 143px; 
                top: 1612px;
            } */
        
            /* .part4 {
                margin-top: -110px;
                margin-left: 596px;
            } */
        
            /* .equalizer {
                font-size: 42px;
                margin-bottom: 10px;
            } */
        
        }
        
        /* @media (min-width: 1440px) { */
            /* .container {
                width: 1440px;
                background-color: white;
            } */
        /* 
            .patern2-tablet {
                width: 312px;
                height: 468px;
                margin: -40px 0 0 1120px;
            } */
        /* 
            .text1 {
                width: 1015px;
                font-size: 48px;
                height: 176px;
                margin: 165px;
                padding-top: 50px;
            } */
        
            /* .text1 p {
                font-size: 24px;
                width: 825px;
                height: 102px;
            } */
        
            /* .lights {
                width: 800px;
                height: 800px;
                margin-top: -350px;
                margin-left: 700px;
            } */
        
            /* .mobile-back-background {
                width: 1110px;
                height: 600px;
                margin-top: 160px;
                margin-left: 165px;
            } */
        
            /* .mobile {
                width: 312px;
                height: 642px;
                margin: 40px 0 0 200px;
            } */
        
            /* .part2 {
                margin-top: 100px;
            } */
        
            /* .mobile-back {
                width: 310px;
                height: 468px;
                margin: 130px 0 0 465px;
            } */
        
            /* .premium-container {
                width: 446px;
                height: 600px;
                margin: -130px 0 0 750px;
                padding-top: 40px;
            } */
        
            /* .premium-text p {
                width: 333px;
                height: 170px;
                font-size: 22px;
                margin: 20px 0 -30px 20px;
                padding: 20px 0 -50px 0;
            } */
        
            /* .premium-text h1 {
                margin-left: 20px;
            } */
        
            /* .premium-btn {
                width: 333px;
                margin-top: 30px;
            } */
        
            /* .android {
                width: 333px; 
                margin-left: 20px;
            } */
        
            /* .apple {
                width: 333px;
                margin-left: 20px;
            } */
        
            /* .android-icon {
                width: 200px;
                margin-left: 50px;
        
            } */
        
            /* .apple-icon {
                margin-left: 65px;
            } */
        
            /* .android-icon:hover {
                width: 200px;
                margin-left: 50px;
        
            } */
        
            /* .apple-icon:hover {
                margin-left: 60px;
            } */
        
            /* .android:hover {
                background-color: #66E2DC;
            } */
        
            /* .apple:hover {
                background-color: #FFB964;
            } */
        
            /* .android-icon p {
                /* margin: 10px 0 0 -5px; 
                font-size: 16px;
            } */
        
            /* .apple-icon p {
                /* margin: 10px 0 0 -5px; 
                font-size: 18px;
            } */
        
            /* .part3 {
                width: 1110px;
                height: 79px;
                margin-left: 165px;
            } */
        
            /* .part3 p {
                width: 366px;
                height: 79px;
                margin: -50px 0 0 285px;
            } */
        
            /* .part3 .equalizer {
                margin-top: 100px;
            } */
        /* 
            .part4 {
                margin: -80px 0 0 1100px;
            } */
        /* } */