  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&family=Poppins:wght@400;600&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: IBM Plex Sans;
  }

  .big-main-tablet,
  .big-main-desktop,
  .orange-fb-icon,
  .patern-for-tablet {
      display: none;
  }

  .big-main-mobile {
      position: absolute;
      margin:-40% 0 0 15%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .part1 {
      position: relative;
      flex-direction: column;
      margin: 0 5%;
  }

  .header {
      font-size: 38px;
  }

  .text1 {
      font-size: 16px;
  }

  .part2 {
      flex-direction: column;
      background-color: black;
      border-radius: 20px;
      margin-top: 20%;
  }

  .mobile-back {
      position: relative;
      width: 70%;
      margin-left: 20%;
      z-index: 0;
  }

  .mobile {
      position: absolute;
      width: 50%;
      margin-left: -60%;
      margin-top: -15%;
  }

  .premium-container {
      position: absolute;
      background-color: #FA7453;
      border-radius: 12px;
      color: #FCFAF9;
      margin-top: -50px;
      padding: 5% 7% 10% 7%;
  }

  .premium-text p {
      font-size: 24px;
  }

  .premium-text h1 {
      margin: 30px 0;
  }

  .apple {
      width: 95%;
      height: 61px;
      background: #191826;
      color: white;
      border-radius: 12px;
      font-Weight: 700;
      font-Size: 18px;
      Line-height: 32px;
      margin-bottom: 16px;
  }

  .android {
      width: 95%;
      height: 61px;
      background: #FCFAF9;
      border-radius: 12px;
      Font: IBM Plex Sans;
      font-Weight: 700;
      font-Size: 18px;
      Line-height: 32px;
  }

  .android-icon,
  .apple-icon {

      padding-right: 10px;
  }

  .four-dollar {
      font-size: 48px;
      font-weight: bold;
  }

  .premium-text p {
      margin: 20px 0;
  }

  .part3{
    margin: 550px 24px 24px 24px;

  }
  .logo{
    width: 170px;
    margin: 52px 0;
  }
  .part3>p {
      font-size: 16px;
  }

  .part4 {
      width: 30%;
      justify-content: space-between;
      margin: 5%;
  }

  .icon-facebook,
  .icon-instagram,
  .icon-twitter {
      width: 27%;
      padding: 3%;
      cursor: pointer;
  }


  @media(min-width: 768px) {}
